# FastStream конфигурация
FS__FASTSTREAM__KAFKA_URL=kafka:9092
FS__FASTSTREAM__SUBJECT=user-register

# Логирование
FS__LOGGING__LOG_LEVEL=info

# Для локальной разработки (если Kafka запущена локально)
# FS__FASTSTREAM__KAFKA_URL=localhost:29092
